.app {
  /* background-image: url(../src/components/images/background-desktop-1910x800px-72dpi.jpg); */
  width: 100%;
  padding: none;
  color: aliceblue;
  background-color: #000000;
}

/* ==============================HEADER============================== */

.addform {
  width: 40%;
}
.infotext {
  width: 100%;
}

.anylink {
  color: white;
}

.hl {
  height: 100px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: inherit;
  height: 80px;
  position: fixed;
  top: 0px;
  background-color: #000000;
  opacity: 0.8;
  z-index: 888;
}
.hblogo {
  height: 80%;
  margin-top: 8px;
  margin-left: 5%;
}
.btnsheader {
  display: flex-box;
  width: 20%;
  height: inherit;
  padding-top: 50px;
  margin-left: 100px;
  position: absolute;
  right: 10%;
}
.linkeins {
  color: #f3efef;
  /* margin-top: 0px; */
  /* margin-left: 100px; */
  background-color: #000000;
  text-decoration: none;
  padding: 3px 6px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
  width: 80px;
  height: 30px;
  font-size: 16px;
  position: relative;
  left: 20%;
  top: -10px;
}

.redlinetop {
  width: 100%;
  height: 3px;
  background-color: #e2001a;
  margin-top: 6px;
}
.modal-title {
  color: gray !important;
  font-size: 24px !important;
}
/* ==============================END HEADER============================== */

/* ==============================MITTE============================== */
.mitte {
  width: inherit;
  display: flex;
  justify-content: start;
  margin-top: 80px;
}
.side {
  width: 20%;
}
.sidenav {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 800;
}

.Pagelink {
  color: white;
  text-decoration: none;
}

.pagenav {
  width: inherit;
  height: auto;
  /* background-color: #71000d; */
  background-color: #2b2b2b;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  overflow: auto;
  padding-top: 20px;
  margin: 0px;
}
.sponsnav {
  /* background-color: #71000d; */
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  /*  justify-content: center; */
  align-items: center;
  overflow: auto;
  width: inherit;
  height: 1000px;
  padding-top: 20px;
  margin-top: 0px;
}
.sponslogo {
  height: 90px;
  border-radius: 50%;
}
.sponslogo:hover {
  box-shadow: 0px 0px 22px #55f00ea1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font: bold;
}
li {
  border: solid 1px #c7bebe;
  width: 84%;
  margin-left: 5%;
  /* background-color: #e2001a; */
  background-color: #2b2b2b;
  box-shadow: 2px 2px 3px inset #000000;
}
li:hover {
  background-color: #000000;
  border: solid 1px #5eaadd;
}
.nav-link {
  padding: 6px;
  margin-bottom: 6px;
  font-size: large;
  font-weight: bold;
}

.platzhalterfooter {
  width: 16%;
  height: 70px;
  margin-top: 40px;
  background-color: #71000d;
  color: #71000d;
}

.mainarea {
  /* background-image: url(../src/components/images/background_homebar.png); */
  display: inline-block;
  width: 80%;
}
.headline {
  background-color: #2b2b2b;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 28px;
  opacity: 0.8;
}
h5 {
  font-size: 24px;
  color: #1a7bc7;
  text-align: left;
  margin: 15px 0px 0px 20px;
}
.inhalttextCentriert {
  width: 80%;
  font-size: 18px;
  margin-bottom: 16px;

  margin-top: 20px;
}
.inhalttextLinks {
  font-size: 18px;
  text-align: left;
  margin: 10px 20px 0px 20px;
}
.bntw {
  background-color: #eceded;
  border: solid 1px #949494;
  color: #000000;
  font-size: 20px;
  padding: 2px 14px;
  margin-bottom: 10px;
}
.bntred {
  background-color: #2d2d2d;
  border: solid 1px #949494;
  color: #eceded;
  /* width: 220px; */
  font-size: 24px;
  padding: 2px 6px;
  margin: 4px;
  margin-bottom: 20px;
}
.bntred:hover {
  background-color: #007206;
  border: solid 1px #eceded;
}

.bntredclicked {
  background-color: #000000;
  border: solid 1px #949494;
  color: #eceded;
  /* width: 220px; */
  font-size: 24px;
  padding: 2px 6px;
  margin: 4px;
  margin-bottom: 20px;
}
.cg {
  background-color: #e2001a;
  border: solid 1px #949494;
  color: #eceded;
  /* width: 220px; */
  font-size: 24px;
  padding: 2px 6px;
  margin: 4px;
  margin-bottom: 20px;
}
.cg:hover {
  background-color: #000000;
  border: solid 1px #e2001a;
}
.bntgreen {
  background-color: #007206;
  border: solid 1px #949494;
  color: #eceded;
  font-size: 24px;
  padding: 0px 20px;
  margin: 10px;
}
.bntgreen:hover {
  background-color: #007206;
  border: solid 1px #e2001a;
}
.bntgray {
  background-color: #9c9c9c;
  border: solid 1px #ffffff;
  color: #000000;
  font-size: 24px;
  padding: 0px 20px;
  margin: 4px;
}
.bntgray:hover {
  background-color: #000000;
  border: solid 1px #ffffff;
  color: #ffffff;
}

.bntlogin {
  height: 30px;
  background-color: #007206;
  border: solid 1px #949494;
  color: #eceded;
  font-size: 24px;
  padding: 0px 20px;
  margin: 4px;
}
.bntlogin:hover {
  background-color: black;
  border: solid 1px #007206;
}
.bntabbrechen {
  height: 30px;
  background-color: #e2001a;
  border: solid 1px #949494;
  color: #eceded;
  font-size: 24px;
  padding: 0px 20px;
  margin: 4px;
}
.bntabbrechen:hover {
  background-color: black;
  border: solid 1px #e2001a;
  color: #eceded;
}
.logorout {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: inherit;
  height: 50px;
}

.nachoben {
  width: 40px;
  height: auto;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 60px;
}
.nachoben:hover {
  box-shadow: 0px 0px 50px #55f00e;
}
.gefundenpics {
  width: inherit;
  background-color: rgb(84, 235, 134);
  padding: 20px;
}
.thumbpic {
  width: 100px;
  height: auto;
  border: solid 2px #eceded;
  box-shadow: 0px 0px 14px #eceded;
  margin: 20px 10px;
}
.ergiebnisres {
  display: flex;
  justify-content: center;
  width: inherit;
  background-color: rgb(235, 207, 84);
  padding: 30px;
}
.auwpicres {
  width: 280px;
  height: auto;
  border: solid 4px #ee110a;
  box-shadow: 0px 0px 14px #eceded;
  margin: 0px 10px;
}
.rezeptrespons {
  color: #1696eb;
}
.blende {
  width: 54%;
  margin: 40px 20px;
  float: right;
  border: 1px solid #726f6f;
}
.welcome {
  display: block;
  text-align: center;
}
.addcontainer {
  /* width: 400px; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.fildlable {
  font-size: x-large;
}
.addfild {
  width: 100%;
  height: 30px;
  border: solid 1px #eaeff0;
  font-size: 16px;
  padding: 0px;
  margin-top: 4px;
  box-shadow: 0px 3px 5px inset#636161;
}
.addfildred {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 0px;
  margin-top: 4px;
  border: solid 1px #e2001a;
  background-color: #f7b2ba;
  box-shadow: 0px 3px 3px inset#636161;
}
.addfildgreen {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 0px;
  margin-top: 4px;
  border: solid 1px #007206;
  background-color: #c5f0c7;
  box-shadow: 0px 3px 3px inset#636161;
}
.addfildzubreitung {
  width: 100%;
  height: 90px;
  margin-top: 0px;
  background-color: #eceded;
  overflow: scroll;
  color: black;
}
.addpic {
  width: 100%;
  height: auto;
  color: #000000;
  background-color: #ededed;
  border: solid 1px #eaeff0;
  font-size: 16px;
  padding: 0px;
  margin-top: 4px;
  box-shadow: 0px 3px 5px inset#636161;
}
.zutaten {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}
.addfildzutaten {
  width: 33%;
  height: initial;
  font-size: 16px;
  padding: 6px;
  border: solid 1px black;
}
.addzutat {
  width: 33%;
  height: initial;
  border: none;
  background-color: #007206;
  color: white;
  font-size: xx-large;
}
.uebertrag {
  width: 100%;
  height: 90px;
  margin-top: 0px;
  background-color: #eceded;
  overflow: scroll;
}
.schalter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 30px;
  margin-top: 6px;
}
.wahlfeld {
  width: 50%;
  height: inherit;
  border: none;
}
.addbutton {
  background-color: #007206;
  border: solid 1px #ededed;
  color: #eceded;
  font-size: 24px;
  padding: 0px 20px;
  margin-top: 10px;
  float: right;
}
.addbutton:hover {
  background-color: #007206;
  border: solid 1px #e2001a;
}
#zutatenuebertrag {
  color: black;
}
.videos {
  width: 90%;
  margin-top: 20px;
  /* background-color:  #f3efef; */
  /* opacity: 0.5; */
}
/* ==============================END MITTE============================== */

/* ======================================FOOTER======================================= */
.footer {
  width: 100%;
  height: 50px;
  background-color: #000000;
  position: fixed;
  left: 200;
  bottom: 0;
  z-index: 8;
}
.redline {
  width: 100%;
  height: 3px;
  background-color: #eba21c;
}
.socialnet {
  display: flex;
  margin-left: 11px;
  padding: 0;
  width: 86%;
  justify-content: flex-end;
}
.footicon {
  margin: 10px 0px 10px 40px;
  height: 20px;
  max-width: auto;
}
.footicon:hover {
  box-shadow: 0px 0px 30px #55f00e;
}

.footlinkbox {
  display: flexbox;
  color: #ffffff;
  height: 30px;
  position: fixed;
  right: 10px;
  bottom: 16px;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
